<% if @user.errors.any? %>
  <div id="error_message" class="alert alert-danger">
    <h4><strong>Error!</strong> Ooops! We couldn't save the changes </h4>
    <h5> See <%= pluralize(@user.errors.messages.count, "error")%> below </h5>
    <%= flash[:error] %>
  </div>
<% end %>