<!-- A Jumbotron -->
<div class="jumbotron">
  <h1>Welcome to Writup </h1>
  <p>Writup is where you express yourself to the world. Browse posts by other users, interact and share with friends on popular social networks</p>
  <p>I wonder what you are waiting for. So dig in! </p>
  <p>
    <%= link_to "Sign in", "#", :class => "btn btn-lg btn-primary", :role => "button" %>
    <p>Don't have an account? <%= link_to "Sign up", signup_path %>
  </p>
</div>