div.stat_container{
  display: inline;
  margin: 2px;
}
div.users_gravatars_holder > a{
  float: left;
  margin: 1px;
}
div.col-md-10{
  border-left: solid 1px rgb(221, 221, 221);
}
.form-control-margined{
  margin-right: 20px;
}
.form-control-heightened{
  height: 600px;
}
.post_input_field{
  margin-right: 20px;
}
