<div class="media">
  <%= link_to gravatar_for(current_user, size: 75, class: "media-object"), current_user, class: "pull-left" %>
  <div class="media-body">
    <h3 class="media-heading"><%= "#{current_user.first_name} #{current_user.surname}" %></h3>
    <p><strong>Email: </strong> <%= current_user.email %> <%= pluralize(current_user.posts.count, "Posts") %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
  </div>
</div>